#Related 
{
    margin-top: 20px;
    background-color: #A7C4E5 !important;   
    border-radius: 25px;
    box-shadow: 2px 5px 2px black;
    padding: 5px;
    padding-bottom: 30px;
    
}

#title-div 
{
    padding-top: 1px;
    text-align: center;
    
}

#title-related 
{
    color: #fff;   
    text-shadow: 3px 3px 3px black !important;
    font-size: 28px;
}

#related-header h4 {
    font-size: 20%;

}
