#main
{
    background-color: #161A2D !important;
    color: white !important;
    box-shadow: 4px 4px 5px 6px black;
    margin: 20px;
    padding: 15px;
}

#header 
{
    border-bottom: 2px solid white;
    padding: 10px;
    text-shadow: 3px 3px 3px black;
}

#text 
{
    padding-top: 10px !important;
}

.button-color
{
    margin: 15px;
    background-color: #A7C4E5;
    color: black;
}

.button-color:hover
{
    margin: 15px;
    background-color: rgb(5, 36, 70);
    color: white;
}