.HeadImg {
  height: 275px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 60px;
}

.HeadImg::after {
  content: "";
  display: block;
  opacity: .8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.HeadImg * {
  position: relative;
  z-index: 2;
}

.HeadImg h1, .HeadImg h2 {
  color: white;
}

.HeadImg h1 {
  font-size: 60px;
  padding-top: 50px;
  margin-top: 0;
}

