#form-style
{
    width: 100%;
    padding: 80px;
    background-color: #A7C4E5;
    margin-top: 75px;
    box-shadow: 9px 9px 5px black;
    z-index: 2px;
    border-radius: 25px;
    font-family: 'Indie Flower', cursive;
}

#login-submit
{
    margin-top: 20px;
    background-color: #161A2D !important;
}

#register-submit 
{
    margin-top: 20px;
    margin-left: 88% !important;
    background-color: #161A2D !important;
}