html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
}

.footer{
    color: #FFFFFF;
    text-align: center;
}

.footerTop {
    background-color: #000;
    width: 100%;
}

.footerBot{
    color: #FFFFFF;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(63, 63, 63)), color-stop(100, rgb(45, 45, 45)));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    width: 100%;
}

.footer-item{
    text-align: center !important;
}

.active{
    color: #FFF !important;
}

.footer-link{
    text-align: center !important;
}

.footer-nav{
    text-align: center !important;
}