html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
}

.footer{
    margin-top: 100px;
    color: #FFFFFF;
    text-align: center;
}

.footerTop {
    background-color: #000;
    width: 100%;
    padding: 100px 0 100px 0;
}

#regEmail{

}

#regEmailLabel{
    margin: 0 15px 0 0;
}

.githubLink{
    padding: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ei-sc-github.svg/768px-Ei-sc-github.svg.png);
}
.githubIcon{
    width: 75px;
}
#appCreators{
    margin:15px 0 0 0;
}
.footerBot{
    font-size: 10pt;
    color: #FFFFFF;
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(63, 63, 63)), color-stop(100, rgb(45, 45, 45)));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgb(63, 63, 63) 0%, rgb(45, 45, 45) 100%);
    padding: 0px;
    margin: 0 0 0 0;
    width: 100%;
}

.footer-item{
    text-align: center !important;
}

.active{
    color: #FFF !important;
}

.footer-link{
    text-align: center !important;
}

.footer-nav{
    text-align: center !important;
}