.col-myProjects {
    color: #fff;
    background: #161A2D;
    box-shadow: 3px 2px 4px rgb(68, 68, 68);
    padding: 25px;
    margin-bottom: 20px;


}

.my-project-header {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25pt;
    display: inline-block;
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

#scroll {
    background-color: #A7C4E5;
    padding: 20px;
    /* border-radius: 25px; */
    box-shadow: 2px 6px 2px black;
    margin-bottom: 20px;
}

.myProject-titles {
    border-bottom:  4px solid #fff;
    color: #FFF !important;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px 5px #161A2D;
    font-size: 30pt;
}

.view-btn {
    background: #A7C4E5;
}

.project-username {
    color: #fff;
    font-size: 20px;
}

.col-no-projects {
    color: #fff;
    font-size: 30px;
}

#nan {
    color: #fff;
    text-shadow: 2px 4px 2px black;
}