body{
  /* background-color: #161A2D; */
}

.profileHead{
  margin-top: -50px;
  margin-bottom: 50px;
  
}
.profileHeadText{
  color: #FFF !important;
  font-family: 'Kanit', sans-serif !important;
  text-shadow: 1px 1px 5px #161A2D;
  font-size: 58pt;
  border-bottom: 5px solid #FFF;

}
ul{
  margin-top: 20px;
}

.profileCont{
  color: #000000;
  text-shadow: none;
  background-color: #A7C4E5 !important;
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top, #A7C4E5 0%, #7B90A8 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #A7C4E5 0%, #7B90A8 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #A7C4E5 0%, #7B90A8 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A7C4E5), color-stop(100, #7B90A8));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #A7C4E5 0%, #7B90A8 100%);

  /* W3C Markup */ 
  background-image: linear-gradient(to bottom, #A7C4E5 0%, #7B90A8 100%);
}

