.splash-back {
    background: url("../../components/pictures/back-drop-final.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    width: 100%;
    padding-top: 65%;
    height: 0;
}
