#form-style
{
    width: 60%;
    padding: 80px;
    background-color: #A7C4E5;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 9px 9px 5px black;
    z-index: 2px;
    border-radius: 25px;
    font-family: 'Indie Flower', cursive;
}

#login-submit {
    margin-right: 10px;
}

#login-submit {
    margin-right: 10px;
}

